.communication {
  padding: 50px 15px;
  background-color: $color-white;
  @include for-big-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  &__block-content {
    @include for-big-page {
      max-width: 462px;
      margin: auto;
      margin-left: 130px;
      margin-bottom: 0;
    }
  }
  &__subtitle {
    color: $text-blue;
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    margin-top: 50px;
    margin: 0;
    @include for-big-page {
      color: $text-color-orange;
      margin-top: 123px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    color: $color-dark;
    margin: 0;
    margin-top: 17px;
    @include for-big-page {
      margin-top: 24px;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;
    }
  }
  &__description {
    font-size: 24px;
    line-height: 34px;
    color: $color-dark;
    margin: 0;
    margin-top: 19px;
    margin-bottom: 30px;
    @include for-big-page {
      margin-top: 30px;
      margin-bottom: 39px;
    }
  }
  &__banner {
    margin: 0;
    @include for-big-page {
      margin-top: 110px;
      margin-right: auto;
    }
  }
  &__banner-image {
    max-width: 100%;
    margin-top: 40px;
  }
  &__banner-caption {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    color: $text-color-light-grey;
    margin-top: 15px;
  }
  &__advantages {
    display: flex;
    flex-direction: column;
    margin: 33px 15px 0 15px;
    @include for-big-page {
      display: flex;
      flex-direction: row;
      margin: 0 130px;
      min-height: 115px;
    }
  }
  &__advantages-text {
    font-size: 18px;
    line-height: 26px;
    color: $color-dark;
    margin-bottom: 33px;
    margin-top: 0;
    @include for-big-page {
      max-width: 360px;
      margin: 0;
      margin-right: 30px;
      min-height: 115px;
    }
    &:nth-of-type(3) {
      margin-right: 0;
    }
  }
  &__advantages-link {
    font-size: 18px;
    line-height: 26px;
  }
  &__line {
    margin-left: 15px;
    width: 150px;
    height: 1px;
    margin-bottom: 30px;
    margin-top: 40px;
    background: $text-color-black;
    mix-blend-mode: normal;
    opacity: 0.1;
    @include for-big-page {
      max-width: 150px;
      margin-left: 130px;
      margin-bottom: 41px;
      margin-top: 37px;
    }
  }
}
