$main-width: 1400px;
$color-yellow-light: #fcf0e366;
$color-white-light: #f2f2f2;
$color-white: #fff;
$color-light-grey: #e3e3e3;
$color-blue: #0185d0;
$color-light-blue: #00a1c612;
$color-dark: #2b292d;
$color-grey: #d5d4d5;
$color-dark-blue: #3141c5;
$color-light: #f4f5f7;
$text-color-green: #009b4d;
$text-color-light-grey: #2b292d99;
$text-color-orange: #f1592b;
$text-color-blue: #314ac6;
$text-blue: #0189d1;
$text-color-black: #000;
$text-color-white: #ffffff;
$text-color-dark: $color-dark;
$border-color: #2b292d33;
$color-light-pink: #fcf0e3;
$color-pink: #f3c6bd;
$color-button-blue: #3040c4;
$color-grey: #d5d4d5;
.action-button {
  width: 160px;
  height: 48px;
  background-color: $color-button-blue;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 2px;
  border: none;
}

.icon-arrow_right {
  display: block;
  width: 7px;
  height: 12px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png);
}
